/* ResetPassword.css */

.reset-password-wrapper {
  min-height: 93.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  padding: 2rem;
}

.reset-password-container {
  background: transparent;

  border-radius: 1rem;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
   box-shadow:  0 0 10px #ff9900, 0 0 25px #ff5e00, 0 0 50px #ff3300;
  text-align: center;
}

.reset-password-container h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #1f2937;
}

.reset-password-container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.reset-password-container input {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ff9900, 0 0 25px #ff5e00, 0 0 50px #ff3300;
}


.reset-password-container button {
  padding: 0.75rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
    box-shadow: 0 0 10px #ff9900, 0 0 25px #ff5e00, 0 0 50px #ff3300;
}

.reset-password-container button:hover {
  background-color: #ff9900;
}

.reset-success-msg {
  /* color: #ff9900 !important; */
  text-shadow: black 0.1rem 0.2rem 0.1rem;
  margin-top: 1rem;
}

.error-msg {
  color: rgb(255, 0, 0);
  margin-top: 1rem;
  text-shadow: black 0.1rem 0.2rem 0.1rem;
     background-color: transparent; 
  font-size: 1.7rem;
  
  
}
.rest-h2 {
  color: white !important;
  font-size: 2rem !important;
  margin-bottom: 5rem !important;
  text-align: center;
}